<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<clear/>
		<add name="chatappdbconnectionstring" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=WCFChatAppDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
	</appSettings>
	<system.web>
		<compilation debug="true"/>
	</system.web>

	<system.serviceModel>
		<services>

			<service name="ChatServiceLibrary.ChatService" behaviorConfiguration="ChatServiceBehaviour">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:3030"/>
						<add baseAddress="net.tcp://localhost:1100"/>
					</baseAddresses>
				</host>

				<endpoint address="ChatService" binding="netTcpBinding" bindingConfiguration="myTcp" contract="ChatServiceLibrary.IChatService"/>
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange">
				</endpoint>
				<!--<endpoint address="ChatService" binding="wsDualHttpBinding" bindingConfiguration="myHttp" contract="ChatServiceLibrary.IChatService"/>-->
			</service>

			<service name="ChatServiceLibrary.UserService" behaviorConfiguration="UserServiceBehaviour">
				<endpoint address="UserService" binding="basicHttpBinding" contract="ChatServiceLibrary.IUserService">
				</endpoint>
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange">
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:1101"/>
					</baseAddresses>
				</host>
			</service>

		</services>
		<behaviors>
			<serviceBehaviors>

				<behavior name="ChatServiceBehaviour">
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="False"/>
				</behavior>

				<behavior name="UserServiceBehaviour">
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="False"/>
				</behavior>

			</serviceBehaviors>
		</behaviors>


		<bindings>

			<netTcpBinding>
				<binding name="myTcp" maxBufferPoolSize="60000000" maxBufferSize="60000000" maxReceivedMessageSize="60000000">
					<security mode="None"/>
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
				</binding>
			</netTcpBinding>
			<wsDualHttpBinding>
				<binding name="myHttp" maxBufferPoolSize="60000000" maxReceivedMessageSize="60000000">
					<security mode="None"/>
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
				</binding>
			</wsDualHttpBinding>
		</bindings>

	</system.serviceModel>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>

</configuration>
