<?xml version="1.0"?>
<configuration>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IChatService" maxBufferPoolSize="60000000"
          maxBufferSize="60000000" maxReceivedMessageSize="60000000">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IChatService1">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>    
    <client>
      <endpoint address="net.tcp://localhost:1100/ChatService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IChatService" contract="ChatServiceLibrary.IChatService"
        name="NetTcpBinding_IChatService" />
      <endpoint address="http://localhost:1101/UserService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUserService" contract="UserServiceRef.IUserService"
        name="BasicHttpBinding_IUserService" />
      <endpoint address="net.tcp://localhost:1100/ChatService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IChatService1" contract="ChatServiceRef.IChatService"
        name="NetTcpBinding_IChatService1" />
    </client>
  </system.serviceModel>
  
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
</startup>
</configuration>
