<?xml version="1.0"?>
<configuration>
  
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IChatService" maxBufferPoolSize="60000000" maxBufferSize="60000000" maxReceivedMessageSize="60000000">
          <security mode="None"/>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <!--<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>-->
          <!--<security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows"/>
          </security>-->         
        </binding>
      </netTcpBinding>

      <!--<wsDualHttpBinding>
        <binding name="myHttp_IChatService" maxBufferPoolSize="60000000" maxReceivedMessageSize="60000000">
          <security mode="None"/>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </wsDualHttpBinding>--> 
      
    </bindings>    
    <client>
      <endpoint address="net.tcp://localhost:1100/ChatService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChatService" contract="ChatServiceLibrary.IChatService" name="NetTcpBinding_IChatService">
      <!--<endpoint address="http://localhost:3030/Chat" binding="wsDualHttpBinding"
                bindingConfiguration="myHttp" contract="ChatServiceSharedLib.IChatService" name="myHttp">-->
      </endpoint>
    </client>
  </system.serviceModel>
  
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
</startup>
</configuration>
